<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars_101</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <!--Set the beginning background image and 'Get Data!' button-->
    <div class="card bg-dark text-white">
        <img class="img-fluid" alt='mars.featured_image_url', src={{mars.featured_image_url}}>
        <div class="card-img-overlay"></br>
          <h1 class="display-4 text-center"><strong>Mission to Mars</strong></h1></br>
          <p class='text-center'><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p></br>
          <p class="card-text text-center">Last Update: {{update_time}}</p>
        </div>
      </div>
     
    <!--Set the 'news' session-->   
    <div class="jumbotron jumbotron-fluid">  
        <div class="container">
          <h5><strong>Latest News</strong></h5>
          <h5><strong>{{mars.news.news_time}}</strong></h5></br>
            <h1 class="display-4"><strong>{{mars.news.news_title}}</strong></h1></br>
            <p class="lead">{{mars.news.news_paragraph}}</p>
            <a href={{mars.news.news_href}}> click here for full news</a>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">   
            <div class="row">
              <!--Set the 'mars_weather' session--> 
              <div class="col-md-4 ">
                <h1 class="display-6">Mars 101 </h1> 
                </br>
                <iframe width="100%" height="225" src="https://www.youtube.com/embed/D8pnmwOXhoY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>  
              <!--Set the 'mars_weather' session--> 
              <div class="col-md-4">  
                    <h1 class="display-6 text-center">Mars Weather</h1> 
                    </br>
                    <p class="card-text">{{mars.weather}}</p>

              </div>

              <div class="col-md-4">  
              <!--Set the 'mars_fact_table' session--> 
                      <h1 class="display-6 text-center">Mars Property</h1>
                      </br>
                          <div class="table-responsive">
                            {{ table|safe }}                 
                          </div>
              </div>
      </div>   
    </div>


    <!--Set the 'hemisphere imgs' session--> 
    <div class="jumbotron jumbotron-fluid">  
        <div class="container">

          </br>
          <h1 class='text-center'><strong>Mars Hemisphere Images</strong></h1>
          </br>

          <div class="card-deck">
              <div class="card">
                <img class="card-img-top" alt={{mars.hemisphere_image_urls[0].title}} src={{mars.hemisphere_image_urls[0].img_url}}> 
                <div class="card-body">
                  <h5 class="card-title">{{mars.hemisphere_image_urls[0].title}}</h5>
                </div>
              </div>
              <div class="card">
                <img alt={{mars.hemisphere_image_urls[1].title}} src={{mars.hemisphere_image_urls[1].img_url}} class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{mars.hemisphere_image_urls[1].title}}</h5>
                </div>
              </div>
          </div>

          <div class="card-deck">
              <div class="card">
                  <img alt={{mars.hemisphere_image_urls[2].title}} src={{mars.hemisphere_image_urls[2].img_url}} class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{mars.hemisphere_image_urls[2].title}}</h5>
                  </div>
              </div>
              <div class="card">
                  <img alt={{mars.hemisphere_image_urls[3].title}} src={{mars.hemisphere_image_urls[3].img_url}} class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{mars.hemisphere_image_urls[3].title}}</h5>
                  </div>
              </div>
          </div>
        </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>